@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slide-in {
  from {
    translate: 0 -100%;
  }

  to {
    translate: 0 0%;
  }
}

* {
  box-sizing: border-box;
}

*::selection {
  background-color: lightsalmon;
  color: black;
}

html {
  color: #111;
  font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, P052, serif;
  font-size: 16px;
  padding: 0;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

body {
  padding: 1rem;
  margin: 0 auto;
  position: relative;
}

body::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-image: linear-gradient(180deg, transparent 0%, white 100%);
  z-index: 0;
}

@media screen and (min-width: 768px) {
  body {
    padding-left: 2rem;
    padding-top: 1rem;
  }

  body::after {
    content: none;
  }
}

header h1 {
  mix-blend-mode: color-burn;
  font-size: 8rem;
  letter-spacing: -0.1ch;
  margin: 1rem 0 2rem;
}

.first-load header h1 {
  animation: fade-in 1s 1s linear both;
}

@media screen and (min-width: 768px) {
  header h1 {
    text-align: left;
    font-size: 5rem;
    margin: 1rem 0 1rem;
  }
}

@media screen and (min-width: 1100px) {
  header {
    top: calc(100vh - 16rem - 1rem);
  }

  header h1 {
    font-size: 8rem;
  }
}

@media screen and (min-width: 1400px) {
  header {
    top: calc(100vh - 20rem - 1rem);
  }

  header h1 {
    font-size: 10rem;
  }
}

main {
  margin-top: 1rem;
  display: grid;
  gap: 1rem;
  line-height: 1.5;
  z-index: 1;
  position: relative;
}

.first-load main {
  animation: fade-in 1s 1.2s linear both;
}

p, ul {
  hyphens: auto;
}

section {
  background: #ffffffa0;
  border: solid 1px rgba(0,0,0,0.05);
  box-shadow: 5px 5px 30px #0001;
}

.intro :first-child {
  margin: 0;
}

.intro :last-child {
  margin: auto 0 0;
}

.intro {
  padding: 1rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

.intro ul {
  padding-left: 0;
  list-style-position: inside;
}

@media screen and (min-width: 768px) {
  main {
    animation-delay: 0s;
    margin-top: 0;
    grid-template-columns: repeat(2, 1fr);
  }

  .intro {
    padding: 2rem;
    grid-column: span 2;
  }
}

@media screen and (min-width: 1000px) {
  main {
    grid-template-columns: repeat(4, 1fr);
  }
}

#bg {
  background: white;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: -1;
}

h1, h2 {
  line-height: 1;
}

h1 {
  margin: 0;
}

#logo {
  display: block;
}

@media screen and (min-width: 768px) {
  #logo {
    min-width: 500px;
  }
}

.subtitle {
  font-size: 1.5rem;
  line-height: 1;
  letter-spacing: 1px;
  margin: 0.5rem 0 0;
  opacity: 0.8;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .subtitle {
    text-align: left;
  }
}

.links {
  list-style-type: none;
  display: flex;
  gap: 0.5rem;
  margin: 1.5rem 0 0;
  padding: 0;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .links {
    justify-content: start;
  }
}

.links__item, .work__tag {
  background: #111;
  color: white;
  line-height: 2;
  padding: 0 0.5rem;
  white-space: nowrap;
  font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
}

.links__item:hover {
  background: #444;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

.services li + li {
  margin-top: 0.1rem;
}

section, .subpage header {
  transition: box-shadow 500ms, background-color 500ms, border-color 500ms;
}

section:hover {
  background: #ffffffdd;
  box-shadow: 5px 5px 30px #fff3;
  border-color: rgba(0,0,0,0.15);
}

.work__image, .article__image {
  display: block;
  width: 100%;
}

.work__image {
  object-fit: cover;
  aspect-ratio: 5 / 3;
}

.work__info {
  padding: 1rem;
}

.work__title {
  margin: 0 0 0.25rem;
}

.work:hover .work__title {
  text-decoration: underline;
}

.work__subtitle {
  margin: 0 0 1rem;
}

.work__tags {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.testimonial {
  padding: 1rem;
  margin: 0;
}

.testimonial__text {
  font-weight: 500;
  margin: 0;
}

.testimonial__text::before {
  content: '\201C';
}

.testimonial__text::after {
  content: '\201D';
}

.testimonial__source {
  text-align: right;
}

.testimonial__source::before {
  content: '\002014\000020';
}

footer {
  font-size: 14px;
  margin-top: 2rem;
  grid-column: span 2;
  z-index: 1;
  position: relative;
}

footer a {
  font-weight: bold;
}

.back-link {
  display: block;
  position: fixed;
  top: 1rem;
  left: 1rem;
  font-family: monospace;
}

.back-link:hover {
  color: #444;
}
